nodered_flow.json
[{"id":"abea9667.240378","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f80ef201.e213a","type":"ui_form","z":"abea9667.240378","name":"User_guide","label":"","group":"30870194.6cda9e","order":1,"width":18,"height":2,"options":[{"label":"Your query","value":"input","type":"text","required":true,"rows":null},{"label":"Tip:Feel free to ask me to be more descriptive","value":"ee","type":"text","required":false,"rows":null}],"formValue":{"input":"","ee":""},"payload":"","submit":"submit","cancel":"cancel","topic":"hey","x":110,"y":280,"wires":[["8fcc0c41.120f8"]]},{"id":"8fcc0c41.120f8","type":"function","z":"abea9667.240378","name":"input_function","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["39a3f992.220e06","1840d1de.ddd50e"]]},{"id":"30a159d2.ce5a36","type":"function","z":"abea9667.240378","name":"output_function","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["7ebbe6d1.53e1b8"]]},{"id":"39a3f992.220e06","type":"watson-conversation-v1","z":"abea9667.240378","name":"MI_CHATBOT","workspaceid":"3be95a77-7743-4a95-b47a-69c1d7fcb13c","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e79d31b5-373e-4c5a-901a-279f6dd13612","timeout":"","optout-learning":false,"x":440,"y":180,"wires":[["30a159d2.ce5a36","e0073b80.f8ee68"]]},{"id":"1840d1de.ddd50e","type":"ui_text","z":"abea9667.240378","group":"30870194.6cda9e","order":2,"width":0,"height":0,"name":"user_input","label":"You:","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":400,"wires":[]},{"id":"7ebbe6d1.53e1b8","type":"ui_text","z":"abea9667.240378","group":"30870194.6cda9e","order":3,"width":18,"height":5,"name":"sample","label":"Guide:","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":420,"wires":[]},{"id":"e0073b80.f8ee68","type":"debug","z":"abea9667.240378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":60,"wires":[]},{"id":"30870194.6cda9e","type":"ui_group","z":"","name":"CHATBOT","tab":"da757c1.2b0f98","order":1,"disp":true,"width":18,"collapse":false},{"id":"da757c1.2b0f98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]